/* animação de digitação */
.animation-cursor {
    animation: blinkcursor 800ms steps(22) infinite normal,
        typing 15s steps(22) infinite normal both;
}

@keyframes blinkcursor {
    from {
        border-right: .1rem solid var(--colorlight);
    }

    to {
        border-right: .1rem solid transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    25% {
        width: 20.45rem;
    }

    50% {
        width: 20.45rem;
    }

    75% {
        width: 20.45rem;
    }

    100% {
        width: 0;
    }

}

.border-gadient {
    background-image: linear-gradient(var(--colordak), var(--colordak)), var(--gradient-mix);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: .1rem solid transparent;
    border-radius: 2rem;
}

.border-division {
    border-bottom: 0.1rem solid;
    border-image: var(--gradient-division) 1;
}

.section--title {
    color: var(--colorlight);
    font-family: "JetBrains Mono";
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    font-weight: 300;
}

.button-standard {
    width: 8rem;
    font-family: "JetBrains Mono";
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
    padding: 1rem;
    background: var(--colorpri);
    border-radius: .5rem;
    color: var(--colorlight);

}

.animation-chroma {
    background: conic-gradient(from var(--angle) at 55.79% -155.45%, #FF000A 0deg, #FD0 72.0000010728836deg, #00FFB2 144.0000021457672deg, #05F 216.00000858306885deg, #8C00FF 288.0000042915344deg, #F00 360deg);
    background-repeat: 1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s spin linear infinite;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }

}