.box-projects{
    min-width: 28rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 1.5rem;
}

.box-projects__img{
    border: .1rem solid red;
    width: 18rem;
    height: 18rem;
}

.box-projects__title{
    color: var(--colorlight);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 800;
}

.box-projects__text{
    color: var(--colorlight);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
}

.container-divs-conteiner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-projects__container-technologies{
    display: flex;
    align-items: center;
}

.box-projects__container__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.box-projects__container-technologies__list-skills{
    list-style: none;
    display: flex;
    gap: .8rem;
}

.container-technologies__list-skills__icons{
    width: 2rem;
}